{% extends 'admin/base-admin.html.twig' %}

{% block title %}New Appointment{% endblock %}

{% block body %}
    <h1>Create new Appointment</h1>

    {{ include('appointment/_form.html.twig') }}

    <a href="{{ path('app_appointment_index') }}"class="btn btn-secondary">back to list</a>
{% endblock %}
